<div class="jumbotron">

	<h1>Welcome guys</h1>
	<p>Click here to <%= link_to "Sign up", "http://www.google.de", class: "btn btn-primary btn-lg" %>!</p>
	<%= link_to "Über mich", about_path, class: "btn btn-primary btn-lg"  %>
</div>